.emptyAirshipButton {
    -fx-background-image: url(airshipButton.png);
    -fx-background-size: 150px 80px;
    -fx-pref-width: 150px;
    -fx-pref-height: 80px;
}

.weaponPane {
    -fx-background-color: rgba(1,1,1,0.8);
    -fx-background-size: 5px 5px;
    -fx-border-width: 20px;
    -fx-border-color: rgba(0,0,0,0);
    -fx-hgap: 30;
}

.deckPane {
    -fx-background-color: rgba(1,1,1,0.8);
    -fx-background-size: 5px 5px;
    -fx-border-width: 15px;
    -fx-border-color: rgba(0,0,0,0);
    -fx-hgap: 30;
    -fx-vgap: 20;
    -fx-pref-height: 200px;
    -fx-pref-width: 300px;
}

.endTurnBattleButton {
    -fx-background-image: url(endTurnButton.png);
    -fx-background-size: 130px, 82px;
    -fx-pref-width: 130px;
    -fx-pref-height: 82px;
}

.selectedEndTurnBattleButton {
    -fx-background-image: url(selectedEndTurnButton.png);
    -fx-background-size: 130px, 82px;
    -fx-pref-width: 130px;
    -fx-pref-height: 82px;
}

.hullShield {
    -fx-font-size: 10px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-family: "Century Gothic";
}
